h1{
    color : rgb(51, 49, 173);

}

h2{

    color : crimson;
    text-decoration: underline;
}
h1, h2 ,h3, h4, h5, h6{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

P{
    font-family: 'courier new', courier, monospace;
}
li{
    color: rgb(51, 49, 173);
    font-family: 'courier new', courier, monospace;
}